// Center block
@mixin center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
   width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

%water_rise {

   background-size: cover;
   background-position: 50% 0vh;
   background-image: url(img/waves_anim.svg);
   background-repeat: no-repeat;
   animation: water_rise 15s 3s ease-in-out;

   @keyframes water_rise {
      from {
         background-position: 50% 100vh;
      }

      to {
         background-position: 50% 0vh;
      }
   }
}