.candidate_grid {

   a,
   a:hover {
      color: #fff;
   }

   .uc_post_image {
      background-image: linear-gradient(#888, #888), var(--bg-img);
      background-blend-mode: saturation;

      &:hover {
         background-image: var(--bg-img);
         background-blend-mode: normal;
      }
   }

   .uc_content {
      text-align: left;
   }
}

#candidateGrid {
   .candidate_grid .ue_post_grid:nth-child(1n + 4) {
      display: none;
   }
}