#ajaxpop {
   display: none;

   .ajaxpop-container {
      top: 100vh;
   }

   &.show {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      display: block;

      .ajaxpop-cover {
         width: 100vw;
         height: 100vh;
         background-color: #000;
         position: fixed;
         top: 0;
         left: 0;
         display: block;
         animation: fade .5s forwards;
      }

      .ajaxpop-close {
         background-color: rgba(0, 0, 0, .33);
         border-radius: 50%;
         display: i;
         position: absolute;
         right: 5%;
         top: 3%;
         width: 3rem;
         height: 3rem;
         text-align: center;
         cursor: pointer;
         z-index: 9999;
      }
   }

   .ajaxpop-container {
      background-color: #fff;
      width: 80vw;
      min-height: 50vh;
      max-height: 90vh;
      margin: max(1rem, 5vh) auto;
      position: relative;
      animation: slideup 1s 1s both;
   }

   .ajaxpop-content {
      max-height: 85vh;
      overflow: scroll;
      width: 100%;
      display: grid;
      grid-template-columns: 1rem auto 1rem;
      grid-template-rows: 15vh auto auto auto;
      border-bottom: 1rem solid white;

      #coverImg {
         grid-column: 1/4;
         grid-row: 1/3;
      }

      .headerContainer {
         grid-column: 2/3;
         grid-row: 2/3;
      }

      .entry-content {
         padding: 0;
         grid-column: 2/3;
         grid-row: 3/4;
      }

      .factbox {
         grid-column: 1/4;
         grid-row: 4/5;
         background-color: #333;
         color: #fff;
      }
   }
}

@keyframes slideup {
   from {
      top: 100vh;
   }

   to {
      top: 0vh
   }
}

@keyframes fade {
   from {
      opacity: 0;
   }

   to {
      opacity: 0.75;
   }
}

body.noScroll {
   max-height: 100vh;
   overflow: hidden;
}