#ajaxpop {
   display: none;

   &.show {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      display: block;

      .ajaxpop-cover {
         width: 100vw;
         height: 100vh;
         background-color: rgba(0, 0, 0, .85);
         position: fixed;
         top: 0;
         left: 0;
         display: block;
         animation: fade .5s;
      }

      .ajaxpop-close::before {
         float: right;
         cursor: pointer;
         margin: min(3rem, 5vw) min(3rem, 5vw) 0 0;
      }

      .ajaxpop-container {
         background-color: #fff;
         width: 80vw;
         min-height: 50vh;
         max-height: 90vh;
         margin: max(1rem, 5vh) auto;
         position: relative;
         animation: slideup 1s;
      }

      .ajaxpop-content {
         .entry-content {
            padding: 0;
         }
      }
   }
}

@keyframes slideup {
   from {
      top: 100vh;
   }

   to {
      top: 0vh
   }
}

@keyframes fade {
   from {
      opacity: 0;
   }

   to {
      opacity: 0.85;
   }
}

body.noScroll {
   max-height: 100vh;
   overflow: hidden;
}