#ajaxpop {
   display: none;

   &.show {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      display: block;

      .ajaxpop-cover {
         width: 100vw;
         height: 100vh;
         background-color: rgba(0, 0, 0, .85);
         position: fixed;
         top: 0;
         left: 0;
         display: block;
      }

      .ajaxpop-close::before {
         float: right;
         cursor: pointer;
      }

      .ajaxpop-container {
         background-color: #fff;
         width: 80vw;
         min-height: 50vh;
         max-height: 90vh;
         margin: 5vh auto;
         padding: 2vw;
         position: relative;
      }
   }
}

body.noScroll {
   max-height: 100vh;
   overflow: hidden;
}