.post-navigation {

   nav-next,
   nav-previous {
      background-color: rgba(0, 0, 0, .85);
      height: 6rem;
      border-radius: 3rem;

      img {
         height: 4.5rem;
         border-radius: 50%;
      }
   }
}