.post-navigation {
   position: fixed;
   width: 100vw;
   bottom: 0;
   padding: 2vw;

   .nav-links {
      display: flex;
      justify-content: space-between;
   }

   .nav-next,
   .nav-previous {
      background-color: rgba(0, 0, 0, 0.85);
      height: 5rem;
      border-radius: 2.5rem;
      flex-grow: 0;
      padding: 1rem;
      flex-basis: 20vw;
   }

   .nav-subtitle {
      display: flex;
      align-items: center;
   }

   .nav-next .nav-subtitle {
      justify-content: right;
   }

   img {
      width: 3rem;
      border-radius: 50%;
      margin: 0 .5rem;
   }
}