$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
/*Enhedslistens farvelade*/
$primRed:#D0004D;
$primGreen:#159F6B ;
$secYellow:#FFCF20 ;
$secOrange:#F18A2D ;
$secRed:#F5AAAD ;
$secGreen:#007266 ;
$secPurple:#703290 ;
$secBlue:#8BD0E4 ;
$secGrey: #282828;   
$terYellow01:#FFEAAD ;
$terYellow02:#F7A800 ;
$terOrange01:#F7B999 ;
$terOrange02:#EA5D0A ;
$terRed01:#F9D1D9 ;
$terRed02:#E67593 ;
$terGreen01:#76B095 ;
$terGreen02:#005247 ;
$terPurple01:#9880B6 ;
$terPurple02:#54236F ;
$terBlue01:#C2E0EF ;
$terBlue02:#58AEC8 ;
$terGrey: #f8f8f8;
$terGrey02: #eee;
