.elementor-536 {
   grid-column: 1/6;
}

.eventSection {
   display: grid;
   --auto-grid-min-size: 25rem;
   grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
   grid-gap: 1rem;
   padding: max(1rem, 3vw);

   a.ue_post_grid_item {
      padding: 20% 5% 5%;
      color: #fff;
      background-image: linear-gradient(#fff , #aaa), var(--bg-img) ;
      background-size: cover;
      background-blend-mode: multiply, luminosity;
      min-height: 15rem;
      background-position: center;

      p {
         color: #fff;
      }

      h5 {
         padding-top: 0;
      }

      &.event_activist {
         background-color: $primGreen;
      }

      &.event_debate {
         background-color: $primRed;
      }

      &.event_party {
         background-color: $secPurple;
      }
   }
}