.heroSection {
   min-height: 80vh;
   padding: 10vh 1rem 5vh;
   color: white;

   h1 {
      font-size: max(3.2rem, min(8vw, 8rem));
      font-size: clamp(3.2rem, 8vw, 8rem);
      line-height: max(2.6rem, min(6.5vw, 6.5rem));
      line-height: clamp(2.6rem, 6.5vw, 6.5rem);
   }

   p {
      color: white;
      margin: auto;
      @extend %p-large;
   }

   @include not-mobile {
      padding: 25vh 16vw 12vh;
   }
}